html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $white-color;
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1230px;
}
.flex {
  display: flex;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0px;
  padding-bottom: 94px;
}
.title {
  margin-top: 0;
  margin-bottom: 50;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.text {
  margin-top: 0;
  margin-bottom: 0;

  color: $text-color;
}